/* colors:
almost white: #F5F6F9
light green: #A5E887
dark green: #00CC76
xlight blue: #E1EBF0
light blue: #B4D2D7
blue: #0B799D
dark blue: #07485E */
* {
    padding: 0;
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
}

img {
    display: block;
    width: 100%;
}

hr {
    margin: 20px 0;
    border-color: #00CC76;
    width: 80%;
}

#game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(../img/bkg.jpg); */
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: cover;
}

#init-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#init-game #logo {
    width: 250px;
    margin: 40px 0 15px;
}

#init-game h4 {
    color: #00CC76;
    font-size: 1.8em;
    margin: 10px 0;
}

#init-game p {
    color: #0B799D;
    font-size: 1.15em;
    width: 650px;
    padding: 5px;
}

#my-canvas {
    display: none;
}

#my-canvas #on-game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

#my-canvas #on-game p {
    text-align: right;
    color: #0B799D;
}

#my-canvas #on-game p#level {
    text-align: left;
}

#my-canvas small {
    color: #0B799D;
}

#my-canvas #helpful {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#my-canvas #buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-canvas #buttons img {
    width: 20px;
    margin: 10px 3px;
}


/* new level */
.pop-up {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(7, 72, 94, 0.5);
}

.pop-up-dialogue {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 50px;
    border-radius: 20px;
    border: #00CC76 solid 4px;
}

#instructions .pop-up-dialogue {
    padding: 30px;
}

.pop-up h3 {
    color: #00CC76;
    font-size: 2.5em;
    text-transform: capitalize;
    margin: 0 0 30px;
}

.pop-up p {
    color: #0B799D;
    font-size: 1.3em;
    margin: 5px 0;
}

/* instructions */

.pop-up h3#instructions {
    font-size: 2em;
    margin: 0 0 10px;
}

#instructions h4 {
    color: #00CC76;
    font-size: 1.8em;
    margin: 10px 0;
}

#instructions p {
    color: #0B799D;
    font-size: 1em;
    margin: 3px 0;
}

#instructions p>span {
    color: #00CC76;
    font-size: 1em;
    margin: 3px 0;
}

#instructions #scoring {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-scoring {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-scoring figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
}

.order-scoring figure img {
    width: 25px;
    margin: 3px;
}


/* buttons */
button {
    display: block;
    text-transform: uppercase;
    font-size: 2em;
    border-radius: 10px;
    padding: 20px 30px;
    color: #fff;
    background-color: #0B799D;

}

button#start-game {
    margin: 30px 0;
    background-color: #00CC76;
    border: #0B799D solid 3px;
}

button#rules {
    margin: 0 0 30px;
    font-size: 1.3em;
}

button#reload-game,
button#next-level,
button#win-again {
    margin-top: 40px;
}

button#ok {
    margin-top: 20px;
    font-size: 1.5em;
}