/* colors:
almost white: #FFF5F5
light green: #A5E887
dark green: #00CC76
xlight blue: #E1EBF0
light blue: #B4D2D7
blue: #0B799D
dark blue: #07485E */




* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Share Tech Mono',
        monospace;
}

#start-button {
    text-transform: uppercase;
}